.main-page {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 94vh;
}

.main-pic-container {
  display: grid;
  height: 100%;
}

.main-pic {
  max-width: 90%;
  max-height: 90vh;
  margin: auto;
}
