.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.main-promo-item {
  position: relative;
  top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 1125px;
  max-height: 90vh;
  padding: 1rem 0 2rem 2rem;
}

.main-promo-pic {
  z-index: 1;
  border: 15px solid rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.281);
  border-radius: 20px;
  filter: drop-shadow(6px 4px 5px #000000);
  width: auto;
  max-height: 70vh;
  height: auto;
}

.main-promo-text-container {
  position: relative;
  top: 3%;
  left: -5%;
  max-width: 50%;
  min-width: 45%;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.164);
  margin-bottom: 1rem;
}

.main-promo-date {
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  height: fit-content;
  position: relative;
  left: 15%;
  max-width: 80%;
  margin-bottom: 1rem;
  text-shadow: 3px 3px 1px black;
}

.main-promo-title {
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
  height: fit-content;
  position: relative;
  left: 15%;
  max-width: 80%;
  margin-bottom: 1rem;
  text-shadow: 3px 3px 1px black;
}

.main-promo-text {
  position: relative;
  top: 0;
  left: 15%;
  max-width: 80%;
  height: fit-content;
  font-size: 1rem;
  text-align: center;
  text-shadow: 2px 2px 1px black;
  line-height: 1.3;
  height: fit-content;
}

.main-promo-text-container-filler {
  display: none;
}

@media only screen and (max-width: 985px) {
  .main-page {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .main-promo-item {
    position: relative;
    top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: auto;
    max-width: 400px;
    padding: 1rem 0 2rem 0rem;
  }
  .main-promo-pic {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .main-promo-text-container {
    position: relative;
    top: 0%;
    left: 0%;
    max-width: 100%;
    border-radius: 0px 0px 15px 15px;
    height: fit-content;
  }
  .main-promo-title {
    text-align: center;
    position: relative;
    left: 10%;
    max-width: 80%;
    margin-bottom: 1rem;
    text-shadow: 3px 3px 1px black;
  }
  .main-promo-text {
    position: relative;
    top: 0;
    left: 10%;
    max-width: 80%;
    text-align: center;
    text-shadow: 2px 2px 1px black;
    line-height: 1.3;
    height: fit-content;
  }

  .main-promo-text-container-filler {
    display: inline;
    height: 5rem;
    opacity: 0;
  }
  .new-promo-delete-button {
    max-width: 10rem;
    align-self: 'center';
    position: absolute;
    bottom: -3.5rem;
    right: 1rem;
    z-index: 2;
  }
}
