.titles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 100vh;
  padding: 4rem 5%;
}

.title-container {
  position: relative;
  flex-direction: column;
  margin: 0.5rem;
}

.title-image-container {
  margin: 1.5%;
}

.title-image {
  max-width: 200px;
  cursor: pointer;
  transition: all 0.2s;
  border: 0.2rem solid rgba(255, 255, 255, 0);
}
.title-image:hover {
  border: 0.2rem solid rgba(255, 255, 255, 1);
  background: white;
}

.title-image-description {
  position: relative;
  height: 2rem;
  width: 200px;
  /* color: #000; */
  text-align: center;
  font-size: 0.8rem;
}

/* .delete-comic {
  border: 1px solid var(--bc, var(--border));
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  height: 2rem;
  align-self: center;
  margin-bottom: 2rem;
  color: white;
  background-color: black;
}

.delete-comic:hover {
  color: white;
  background-color: rgb(60, 60, 60);
} */
