.comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 100vh;
  padding: 13vh 5% 5% 5%;
}

.comic-container {
  flex-direction: column;
  margin: 0.5rem;
}

.comic-image-container {
  margin: 1.5%;
}

.comic-image {
  max-width: 200px;
}

.comic-image-description {
  position: relative;
  height: 2rem;
  width: 200px;
  /* color: #000; */
  text-align: center;
  font-size: 0.8rem;
}

.delete-comic {
  border: 1px solid var(--bc, var(--border));
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  height: 2rem;
  align-self: center;
  margin-bottom: 2rem;
  color: white;
  background-color: black;
}

.delete-comic:hover {
  color: white;
  background-color: rgb(60, 60, 60);
}
