.animated-logo-container {
  position: fixed;
  top: 2.9vh;
  left: calc(50vw - 6rem);
  width: 12rem;
  height: 1.7976rem;
}

.animated-logo-element {
  position: absolute;
  stroke: #fff;
  stroke-width: 0.5;
}

.L1 {
  height: 95%;
  left: 0.1%;
  top: 0.9%;
}

.L2 {
  height: 75%;
  left: 6%;
  top: 5%;
}

.L3 {
  height: 18%;
  left: 2.4%;
  top: 98%;
}

.A1 {
  height: 43%;
  height: 40%;
  left: 18%;
  top: 26%;
}

.A2 {
  height: 20%;
  left: 15.8%;
  top: 81%;
}

.A3 {
  height: 100%;
  left: 22.4%;
  top: 9%;
}

.V1 {
  height: 70%;
  left: 30%;
  top: 1%;
}

.V2 {
  height: 82%;
  left: 34.8%;
  top: 25%;
}

.I1 {
  height: 16.7%;
  left: 40.4%;
  top: 4%;
}

.I2 {
  height: 88%;
  left: 44.5%;
  top: 24%;
}

.R1 {
  height: 44%;
  left: 49%;
  top: 25%;
}

.R2 {
  height: 32%;
  left: 48.5%;
  top: 80%;
}

.R3 {
  height: 91%;
  left: 52%;
  top: 6%;
}

.I21 {
  height: 12%;
  left: 63%;
  top: -0.5%;
}

.I22 {
  height: 84%;
  left: 63.7%;
  top: 19%;
}

.N1 {
  height: 59%;
  left: 70%;
  top: 14%;
}

.N2 {
  height: 61%;
  left: 69.3%;
  top: 43%;
}

.N3 {
  height: 77%;
  left: 84.7%;
  top: 30%;
}

.T1 {
  height: 84%;
  left: 87%;
  top: 3%;
}

.T2 {
  height: 71%;
  left: 95.2%;
  top: 41%;
}

@media only screen and (max-width: 938px) {
  .animated-logo-container {
    position: fixed;
    top: 3.4vh;
    left: calc(50vw - 4rem);
    width: 8rem;
    height: 1.1985rem;
  }
}
