.animated-logo-container {
  position: fixed;
  top: 2.9vh;
  left: calc(50vw - 6rem);
  width: 12rem;
  height: 1.7976rem;
}

.animated-logo-element {
  position: absolute;
  transform: rotateX(80deg);
  opacity: 0;
  /* fill: 'none'; */
  stroke: #fff;
  stroke-width: 0.5;
}

.L1 {
  height: 95%;
  left: 0.1%;
  top: 0.9%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
    forwards;
}

.L2 {
  height: 75%;
  left: 6%;
  top: 5%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.1s
    forwards;
}

.L3 {
  height: 18%;
  left: 2.4%;
  top: 98%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.2s
    forwards;
}

.A1 {
  height: 43%;
  height: 40%;
  left: 18%;
  top: 26%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s
    forwards;
}

.A2 {
  height: 20%;
  left: 15.8%;
  top: 81%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.4s
    forwards;
}

.A3 {
  height: 100%;
  left: 22.4%;
  top: 9%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s
    forwards;
}

.V1 {
  height: 70%;
  left: 30%;
  top: 1%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.6s
    forwards;
}

.V2 {
  height: 82%;
  left: 34.8%;
  top: 25%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.7s
    forwards;
}

.I1 {
  height: 16.7%;
  left: 40.4%;
  top: 4%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.8s
    forwards;
}

.I2 {
  height: 88%;
  left: 44.5%;
  top: 24%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.9s
    forwards;
}

.R1 {
  height: 44%;
  left: 49%;
  top: 25%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s
    forwards;
}

.R2 {
  height: 32%;
  left: 48.5%;
  top: 80%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.1s
    forwards;
}

.R3 {
  height: 91%;
  left: 52%;
  top: 6%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.2s
    forwards;
}

.I21 {
  height: 12%;
  left: 63%;
  top: -0.5%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.3s
    forwards;
}

.I22 {
  height: 84%;
  left: 63.7%;
  top: 19%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.4s
    forwards;
}

.N1 {
  height: 59%;
  left: 70%;
  top: 14%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.6s
    forwards;
}

.N2 {
  height: 61%;
  left: 69.3%;
  top: 43%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.5s
    forwards;
}

.N3 {
  height: 77%;
  left: 84.7%;
  top: 30%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.7s
    forwards;
}

.T1 {
  height: 84%;
  left: 87%;
  top: 3%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.8s
    forwards;
}

.T2 {
  height: 71%;
  left: 95.2%;
  top: 41%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.9s
    forwards;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-28 21:51:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-ver-right {
  0% {
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}
