.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

.animated-logo-container {
  position: relative;
  width: 50vw;
  height: 7.49vw;
}

.animated-logo-element {
  position: absolute;
  transform: rotateX(80deg);
  opacity: 0;
  fill: 'none';
  stroke: #fff;
  stroke-width: 0.5;
}

.L1 {
  height: 92%;
  left: 0%;
  top: 0.6%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
    forwards;
}

.L2 {
  height: 82%;
  left: 5%;
  top: 5%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.1s
    forwards;
}

.L3 {
  height: 18%;
  left: 2.4%;
  top: 99%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.2s
    forwards;
}

.A1 {
  height: 43%;
  left: 18%;
  top: 25%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s
    forwards;
}

.A2 {
  height: 23%;
  left: 15.5%;
  top: 81%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.4s
    forwards;
}

.A3 {
  height: 102%;
  left: 22.4%;
  top: 9%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s
    forwards;
}

.V1 {
  height: 72%;
  left: 30%;
  top: 1%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.6s
    forwards;
}

.V2 {
  height: 86%;
  left: 34.8%;
  top: 25%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.7s
    forwards;
}

.I1 {
  height: 16.7%;
  left: 40.4%;
  top: 4%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.8s
    forwards;
}

.I2 {
  height: 88%;
  left: 44%;
  top: 23%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.9s
    forwards;
}

.R1 {
  height: 44%;
  left: 49%;
  top: 25%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s
    forwards;
}

.R2 {
  height: 32%;
  left: 48.5%;
  top: 80%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.1s
    forwards;
}

.R3 {
  height: 88%;
  left: 52%;
  top: 6%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.2s
    forwards;
}

.I21 {
  height: 12.2%;
  left: 62.8%;
  top: -0.5%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.3s
    forwards;
}

.I22 {
  height: 86%;
  left: 63.7%;
  top: 19%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.4s
    forwards;
}

.N1 {
  height: 60%;
  left: 70%;
  top: 14%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.6s
    forwards;
}

.N2 {
  height: 62%;
  left: 69.3%;
  top: 45%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.5s
    forwards;
}

.N3 {
  height: 77%;
  left: 84.7%;
  top: 30%;
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.7s
    forwards;
}

.T1 {
  height: 90%;
  left: 87%;
  top: 0%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.8s
    forwards;
}

.T2 {
  height: 71%;
  left: 95.2%;
  top: 41%;
  animation: flip-in-ver-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.9s
    forwards;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-28 21:51:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-ver-right {
  0% {
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}
