.news-page-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  padding: 10vh 5% 5% 5%;
}

.news-title {
  margin-bottom: 3rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 2.3rem;
}

.news-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* max-width: 600px; */
  justify-content: center;
  align-items: center;
}

.news-item {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin: 1rem;
}

.news-item-pic {
  z-index: 1;
  border: 15px solid rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.281);
  border-radius: 20px;
  filter: drop-shadow(6px 4px 5px #000000);
  width: auto;
  max-width: 50%;
  height: auto;
}

.news-item-text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 1.5rem;
}

.news-item-title {
  font-size: 2.1rem;
  line-height: 1;
  text-align: left;
  height: fit-content;
  position: relative;
  max-width: 80%;
  margin-bottom: 1rem;
  text-shadow: 3px 3px 1px black;
}
.news-item-text {
  position: relative;
  top: 0;
  max-width: 80%;
  height: fit-content;
  font-size: 1.1rem;
  text-align: left;
  text-shadow: 2px 2px 1px black;
  line-height: 1.3;
  height: fit-content;
}

.red-button.news-item-delete-button {
  width: 7rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 938px) {
  .news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .news-title {
    max-width: 60vw;
    min-width: 16rem;
    margin-bottom: 0;
  }

  .news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    max-width: 90vw;
    margin: 1rem 1rem 3rem 1rem;
  }

  .news-item:last-child {
    margin-bottom: 5rem;
  }

  .news-item-pic {
    z-index: 1;
    border: 15px solid rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 20px;
    filter: drop-shadow(6px 4px 5px #000000);
    width: 90vw;
    max-width: 400px;
    height: auto;
  }

  .news-item-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    left: 0;
  }

  .news-item-title {
    text-align: center;
    margin-top: 1rem;
  }
  .news-item-text {
    text-align: center;
  }

  .red-button.news-item-delete-button {
    position: absolute;
    bottom: -5.2rem;
    width: 10rem;
    height: 2.5rem;
    left: auto;
  }
}
