.news-page-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  padding: 10vh 5% 5% 5%;
}

.news-title {
  margin: 0;
  /* padding: 0.5rem; */
  text-align: center;
  /* font-size: 2.3rem; */
  border-bottom: 0.135rem solid white;
}

.news-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* max-width: 800px; */
  justify-content: center;
  align-items: flex-start;
  justify-items: center;
}

.news-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-items: flex-start;
  max-width: 800px;
  margin: 0 1rem 2rem 1rem;
  position: relative;
  /* left: 3vw; */
}

.news-item-pic {
  float: left;
  z-index: 1;
  border: 15px solid rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.281);
  border-radius: 20px;
  filter: drop-shadow(6px 4px 5px #000000);
  width: 50%;
  /* max-width: 50%; */
  /* max-width: auto; */
  /* width: 50%; */
  margin: 0 2rem 1rem 0;
}

.news-item-title {
  font-size: 1.6rem;
  text-align: center;
  height: fit-content;
  position: relative;
  max-width: 100%;
  margin-bottom: 0.25rem;
  text-shadow: 3px 3px 1px black;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem 0;
  border-radius: 5px;
}
.news-item-text {
  position: relative;
  top: 1rem;
  max-width: 100%;
  height: fit-content;
  font-size: 1.1rem;
  text-align: left;
  text-shadow: 2px 2px 1px black;
  line-height: 1.3;
  height: fit-content;
}

.red-button.news-item-delete-button {
  width: fit-content;
  position: absolute;
  top: 6.5rem;
  right: 0;
  padding: 0.5rem;
}
.red-button.news-item-delete-button {
  width: fit-content;
  position: absolute;
  top: 6.5rem;
  right: 0;
  padding: 0 1rem;
}
.red-button.news-item-edit-button {
  width: fit-content;
  position: absolute;
  top: 6.5rem;
  right: 5rem;
  padding: 0 1rem;
}

@media only screen and (max-width: 938px) {
  .news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .news-title {
    max-width: 60vw;
    min-width: 16rem;
    margin-bottom: 0;
  }

  .news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    max-width: 90vw;
    margin: 1rem 1rem 3rem 1rem;
  }

  .news-item:last-child {
    margin-bottom: 5rem;
  }

  .news-item-pic {
    float: none;
    z-index: 1;
    border: 15px solid rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 20px;
    filter: drop-shadow(6px 4px 5px #000000);
    width: 90vw;
    /* max-width: 400px; */
    height: auto;
    margin: 0;
  }

  .news-item-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    left: 0;
  }

  .news-item-title {
    text-align: center;
    margin-top: 1rem;
    padding: 0 1rem;
  }
  .news-item-text {
    text-align: center;
  }

  .red-button.news-item-delete-button {
    position: absolute;
    bottom: -6.2rem;
    width: fit-content;
    right: 4rem;
    top: auto;
    height: 2.5rem;
  }

  .red-button.news-item-edit-button {
    width: fit-content;
    position: absolute;
    bottom: -6.2rem;
    left: 4rem;
    top: auto;
    height: 2.5rem;
  }
}
