.header-main {
  display: flex;
  justify-content: flex-start;
  /* padding: 0 20vw; */
  align-items: center;
  height: 6vh;
  width: 100vw;
  display: flex;
}

.header-element-right {
  position: fixed;
  right: 3%;
}
