.menu-nav {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20vw;
}

.menu-background {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 300px; */
}

.menu-button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  margin: 3% 0 0 8%;
}

.menu-item-container {
  background-color: rgba(0, 0, 0, 0.4);
  /* border-radius: 20px; */
}

.menu-ul,
.menu-li {
  margin: 0;
  padding: 0;
}

.menu-ul {
  padding: 0 0 0 20%;
  position: absolute;
  top: 130%;
  /* max-width: 100%; */
}

.menu-li {
  list-style: none;
  /* margin-bottom: 20px; */
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border-bottom: 0.135rem solid black;
}

.menu-icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.menu-text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.menu-refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
