.header-logo-container {
  position: relative;
  width: 20vh;
  height: 2.996vh;
  /* 6.675 */
}

.header-logo-element {
  position: absolute;
  fill: #000;
}

.L1 {
  height: 92%;
  left: 0%;
  top: 0.6%;
}

.L2 {
  height: 82%;
  left: 5%;
  top: 5%;
}

.L3 {
  height: 18%;
  left: 2.4%;
  top: 99%;
}

.A1 {
  height: 43%;
  left: 18%;
  top: 25%;
}

.A2 {
  height: 23%;
  left: 15.5%;
  top: 81%;
}

.A3 {
  height: 102%;
  left: 22.4%;
  top: 9%;
}

.V1 {
  height: 72%;
  left: 30%;
  top: 1%;
}

.V2 {
  height: 86%;
  left: 34.8%;
  top: 25%;
}

.I1 {
  height: 16.7%;
  left: 40.4%;
  top: 4%;
}

.I2 {
  height: 88%;
  left: 44%;
  top: 23%;
}

.R1 {
  height: 44%;
  left: 49%;
  top: 25%;
}

.R2 {
  height: 32%;
  left: 48.5%;
  top: 80%;
}

.R3 {
  height: 88%;
  left: 52%;
  top: 6%;
}

.I21 {
  height: 12.2%;
  left: 62.8%;
  top: -0.5%;
}

.I22 {
  height: 86%;
  left: 63.7%;
  top: 19%;
}

.N1 {
  height: 60%;
  left: 70%;
  top: 14%;
}

.N2 {
  height: 62%;
  left: 69.3%;
  top: 45%;
}

.N3 {
  height: 77%;
  left: 84.7%;
  top: 30%;
}

.T1 {
  height: 90%;
  left: 87%;
  top: 0%;
}

.T2 {
  height: 71%;
  left: 95.2%;
  top: 41%;
}
