/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 1.6rem;
  height: 1.4rem;
  left: 1.5rem;
  top: 3vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgba(255, 255, 255, 0.952);
  transition: all 0.2s;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgba(255, 255, 255, 0.877);
}

/* Position and sizing of clickable cross button */
/* .bm-cross-button {
  height: 24px;
  width: 24px;
} */

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #000;
  padding: 2.5em 1.5em 0;
  font-size: 1.6rem;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  margin-bottom: 0.75rem;
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: all 0.2s;
  text-align: center;
}

.bm-item:hover {
  transform: scale(1.1);
  color: white;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
