/* .header-logo-container {
  position: fixed;
  left: calc(50% - 80px);
  top: 3vh;
  width: 12rem;
  height: 1.7976rem;
  transition: 0.1s;
}

.header-logo-element {
  position: absolute;
  fill: #fff;
}

.HL1 {
  height: 92%;
  left: 0%;
  top: 0.6%;
}

.HL2 {
  height: 82%;
  left: 5%;
  top: 5%;
}

.HL3 {
  height: 18%;
  left: 2.4%;
  top: 99%;
}

.HA1 {
  height: 43%;
  left: 18%;
  top: 25%;
}

.HA2 {
  height: 23%;
  left: 15.5%;
  top: 81%;
}

.HA3 {
  height: 102%;
  left: 22.4%;
  top: 9%;
}

.HV1 {
  height: 72%;
  left: 30%;
  top: 1%;
}

.HV2 {
  height: 86%;
  left: 34.8%;
  top: 25%;
}

.HI1 {
  height: 16.7%;
  left: 40.4%;
  top: 4%;
}

.HI2 {
  height: 88%;
  left: 44%;
  top: 23%;
}

.HR1 {
  height: 44%;
  left: 49%;
  top: 25%;
}

.HR2 {
  height: 32%;
  left: 48.5%;
  top: 80%;
}

.HR3 {
  height: 88%;
  left: 52%;
  top: 6%;
}

.HI21 {
  height: 12.2%;
  left: 62.8%;
  top: -0.5%;
}

.HI22 {
  height: 86%;
  left: 63.7%;
  top: 19%;
}

.HN1 {
  height: 60%;
  left: 70%;
  top: 14%;
}

.HN2 {
  height: 62%;
  left: 69.3%;
  top: 45%;
}

.HN3 {
  height: 77%;
  left: 84.7%;
  top: 30%;
}

.HT1 {
  height: 90%;
  left: 87%;
  top: 0%;
}

.HT2 {
  height: 71%;
  left: 95.2%;
  top: 41%;
} */
