.loading-overlay-container {
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: rgba(46, 46, 46, 0.5);
  /* backdrop-filter: blur(10px); */
  width: 100vw;
  height: 100vh;
  z-index: 10;
  animation: blur 10s ease 0s infinite;
}

@keyframes blur {
  0% {
    backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  90% {
    backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  100% {
    backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
}

.message-text {
  font-family: sans-serif;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

.error-message-text {
  font-family: sans-serif;
  font-size: 2rem;
  color: rgb(228, 41, 41);
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 1rem;
}
