.new-comic-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 94vh;
  padding: 5%;
}
.new-comic-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  max-width: 50rem;
  max-height: 70rem;
  padding: 1rem;
}

.new-comic-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 2rem;
  margin-bottom: 1rem;
  /* align-content: center; */
}

.new-comic-input {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  border: 1px solid var(--bc, var(--border));
  border-radius: 1rem;
  padding: 0 1rem 0 1rem;
  height: 2rem;
}

select {
  line-height: 1;
  border: 0;
  border-radius: 5px;
  height: 34px;
  -webkit-appearance: none;
  background-position-x: 244px;
}

.new-comic-input[type='file'] {
  border-radius: 0;
  padding: 0;
}

.new-comic-input[type='radio'] {
  margin: 0.2rem 0 0 0.5rem;
  cursor: pointer;
}

option.new-comic-input {
  margin: 3rem;
}

.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
