.editions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 100vh;
  padding: 13vh 5% 5% 5%;
}

.edition-link {
  text-decoration: none;
}

.edition-container {
  flex-direction: column;
}

.edition-logo-container {
  margin: 1% 1% 0 1%;
  width: 200px;
  height: 100px;
}

.edition-logo {
  max-width: 200px;
}

.edition-logo-description {
  position: relative;
  height: 3rem;
  width: 200px;
  color: #fff;
  text-align: center;
}
