.main-comic-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 100vh;
  padding: 13vh 5% 5% 5%;
}
