@font-face {
  font-family: 'Comic Neue Angular Bold Italic';
  src: local('Comic Neue Angular Bold Italic'),
    url(./fonts/ComicNeueAngular-BoldItalic.otf) format('truetype');
}

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Comic Neue Angular Bold Italic', cursive;
  color: #fff;
  line-height: 1.2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
}

.main-styles {
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(
    to left top,
    #515151,
    #565656,
    #5a5a5a,
    #5f5f5f,
    #646464,
    #6e6e6e,
    #787878,
    #828282,
    #949494,
    #a6a6a6,
    #b8b8b8,
    #cbcbcb
  ); */
  background-image: url('./pic/background4K.jpg');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* GLOBAL STYLES */

.opacity {
  opacity: 0;
  transition-delay: 0.5s;
  transition-property: opacity;
  transition-duration: 1s;
}

.red-warning-text {
  color: red;
}

.link-button {
  max-width: 9rem;
  align-self: 'center';
  position: absolute;
  bottom: -3.5rem;
  right: 10%;
  z-index: 2;
}

.link-button.more-button {
  background-color: rgb(0, 0, 0);
}

.link-button.more-button:hover {
  background-color: rgb(59, 59, 59);
}

.red-button {
  border: 1px solid var(--bc, var(--border));
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  height: 2rem;
  align-self: center;
  margin-bottom: 2rem;
  color: white;
  background-color: rgb(51, 0, 0);
  transition: all 0.2s;
}

.red-button:hover {
  color: white;
  background-color: rgb(85, 0, 0);
}

.red-button:disabled,
.red-button[disabled] {
  border: 1px solid #999999;
  background-color: #8a8a8a;
  color: #666666;
  cursor: initial;
}
