@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Boogaloo', cursive;
  color: #fff;
  line-height: 1.2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
}

.main-styles {
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(
    to left top,
    #515151,
    #565656,
    #5a5a5a,
    #5f5f5f,
    #646464,
    #6e6e6e,
    #787878,
    #828282,
    #949494,
    #a6a6a6,
    #b8b8b8,
    #cbcbcb
  ); */
  background-image: url('./pic/back.jpg');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
