.comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 100vh;
  padding: 5rem 5% 5% 5%;
}

.comic-container {
  flex-direction: column;
  margin: 0.5rem;
}

.comic-image-container {
  margin: 1% 1% 0 1%;
}

.comic-image {
  max-width: 200px;
}

.comic-image-description {
  position: relative;
  height: 3rem;
  width: 200px;
  color: #000;
  text-align: center;
}
