.comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 94vh;
  padding: 5%;
}

.comic-container {
  flex-direction: column;
}

.comic-image-container {
  margin: 1% 1% 0 1%;
}

.comic-image-description {
  position: relative;
  height: 3rem;
  width: 200px;
  color: #000;
  text-align: center;
}
