.upload__image-wrapper {
  /* margin-top: 0.5rem; */
}

.image-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.image-item img {
  width: 50%;
}

.upload__image-button {
  border: none;
  border: 1px solid var(--bc, var(--border));
  border-radius: 1rem;
  padding: 0.5rem;
  margin-top: 0.7rem;
}

.upload__image-button:hover {
  background-color: rgb(200, 220, 220);
}

.image-item__btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5rem;
}

.upload__image-button.update {
  padding: 0.5rem;
}

.upload__image-button_field {
  width: 100%;
  height: 4rem;
}
