@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Boogaloo', cursive;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to left top,
    #515151,
    #565656,
    #5a5a5a,
    #5f5f5f,
    #646464,
    #6e6e6e,
    #787878,
    #828282,
    #949494,
    #a6a6a6,
    #b8b8b8,
    #cbcbcb
  );
  margin: 0;
  overflow-x: hidden;
}
