.settings-hover:hover {
  background-color: rgb(200, 220, 220);
  /* border: none; */
}

.settings-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 100vh;
  padding: 10vh 5% 5% 5%;
}

.settings-title {
  margin: 0;
  padding: 0;
  width: 80%;
  text-align: center;
  margin: 1rem 0;
}

.settings-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  max-width: 50rem;
  min-height: 40vh;
  padding: 0.5rem 1rem 2rem 1rem;
}

.settings-old-menu-backgrounds-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.4rem;
  align-items: flex-start;
  margin-top: 0.3rem;
  border-radius: 10px;
}

.settings-menu-background-info {
  padding-left: 2rem;
  color: black;
}

.settings-old-menu-backgrounds-element {
  width: 30%;
  margin: 0.4rem;
}

.settings-old-menu-pic {
  border: white 1px solid;
  width: 100%;
}

.settings-apply-background-button {
  border: 1px solid var(--bc, var(--border));
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  min-height: 2rem;
  align-self: center;
  margin: 0.2rem 0;
  color: white;
  background-color: black;
}

.settings-apply-background-button:hover {
  /* color: white; */
  background-color: rgb(60, 60, 60);
}

.settings-apply-background-button:disabled,
.settings-apply-background-button[disabled] {
  border: 1px solid #999999;
  background-color: #8a8a8a;
  color: #666666;
  cursor: initial;
}

.settings-selected-background-button:disabled,
.settings-selected-background-button[disabled] {
  background-color: rgb(13, 85, 0);
  color: white;
}

.settings-delete-menu-background-button {
  margin-bottom: 0.5rem !important;
}

.settings-selected-to-delete-background-button {
  background-color: rgb(192, 29, 0) !important;
}

.settings-old-background {
  border: white 1px solid;
  margin-top: 0.5rem;
}

.settings-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1rem 0 1rem 0;
}

.settings-input {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 0.5rem;
  border: 1px solid var(--bc, var(--border));
  border-radius: 1rem;
  padding: 0 1rem 0 1rem;
  height: 2rem;
  width: 100%;
}

.settings-submit {
  border: 1px solid var(--bc, var(--border));
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  min-height: 2rem;
  align-self: center;
  margin: 1rem 0;
  color: white;
  background-color: black;
}

.settings-submit:hover {
  color: white;
  background-color: rgb(60, 60, 60);
}

.settings-submit:disabled,
.settings-submit[disabled] {
  border: 1px solid #999999;
  background-color: #8a8a8a;
  color: #666666;
  cursor: initial;
}
